<%= form_for :comment, url: movie_comments_path(@movie), method: :patch do |f| %>
  <p>
    <%= f.label :content %><br>
    <%= f.text_field :content %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
