/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


h1 {
  text-align: center;
}

footer {
  padding-top: 10px;
  border-color: black;
  border-top: 1px solid;
  border-bottom: 1px solid;
  padding-bottom: 10px;
  margin-left: 320px;
  margin-right: 380px;
}


#mr_c_fave {
  padding-top: 10px;
  border-color: black;
  border-top: 1px solid;
  border-bottom: 1px solid;
  padding-bottom: 10px;
  margin-left: 320px;
  margin-right: 380px;
}

.movie-show {
  padding-top: 10px;
  border-color: black;
  border-top: 1px solid;
  border-bottom: 1px solid;
  padding-bottom: 10px;
  margin-left: 320px;
  margin-right: 380px;
}


.movie-container {
  padding-top: 10;
  background-color: #F0F8FF;
  border: solid 1px gray;
  margin-left: 320px;
  margin-right: 380px

}

.search-page{
  padding-top: 10px;
  border-color: black;
  border-top: 1px solid;
  border-bottom: 1px solid;
  padding-bottom: 10px;
  margin-left: 320px;
  margin-right: 380px;

}

