// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.activity-log {
	width: 250px;
	margin: 5%;
	
}


.users-movies {
	max-width: 500%;
	margin: 5%;
	
}